<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://img.wangao.info/flow.ico"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>Flow-个人主页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header"></header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<!-- 选项 -->
				<div class="position-relative">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link" href="profile.html">个人信息</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="my-post.html">我的帖子</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="my-reply.html">我的回复</a>
						</li>
					</ul>
					<a href="profile.html" class="text-muted position-absolute rt-0">返回个人主页&gt;</a>
				</div>
				<!-- 我的帖子 -->
				<div class="mt-4">
					<h6><b class="square"></b> 发布的帖子(93)</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<li class="border-bottom pb-3 mt-4">
							<div class="font-size-16 text-info">
								<a href="#" class="text-info">这里是帖子标题！</a>
							</div>
							<div class="mt-1 font-size-14">
								这里是帖子内容
							</div>
							<div class="text-right font-size-12 text-muted">
								赞 <i class="mr-3">11</i> 发布于 <b>2019-04-15 10:10:10</b>
							</div>
						</li>
					</ul>
					<!-- 分页 -->
					<nav class="mt-5" th:replace="index::pagination"></nav>
				</div>				
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer"></footer>
	</div>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
