<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://img.wangao.info/flow.ico"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>Flow-搜索结果</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header">
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container box">
				<nav class="cell" aria-label="breadcrumb">
					<ol class="breadcrumb p-0">
						<li class="breadcrumb-item"><a href="#" th:href="@{/}">Flow</a></li>
						<li class="breadcrumb-item active" aria-current="page">搜索结果</li>
					</ol>
				</nav>
				<!-- 帖子列表 -->
				<ul class="list-unstyled">
					<li class="cell media border-bottom touch" th:each="map:${discussPosts}" th:onclick="@{|go('/discuss/detail/${map.post.id}')|}">
						<img th:src="${map.user.headerUrl}" class="mr-4 avatar" alt="用户头像" height="50" width="50">
						<div class="media-body">
							<h6 class="mt-0 mb-2">
								<a th:utext="${map.post.title}">备战<em>春招</em>，面试刷题跟他复习，一个月全搞定！</a>
							</h6>
							<div class="mb-1 font-size-12" th:utext="${map.post.content}">
								金三银四的金三已经到了，你还沉浸在过年的喜悦中吗？ 如果是，那我要让你清醒一下了：目前大部分公司已经开启了内推，正式网申也将在3月份陆续开始，金三银四，<em>春招</em>的求职黄金时期已经来啦！！！ 再不准备，作为19应届生的你可能就找不到工作了。。。作为20届实习生的你可能就找不到实习了。。。 现阶段时间紧，任务重，能做到短时间内快速提升的也就只有算法了， 那么算法要怎么复习？重点在哪里？常见笔试面试算法题型和解题思路以及最优代码是怎样的？ 跟左程云老师学算法，不仅能解决以上所有问题，还能在短时间内得到最大程度的提升！！！
							</div>
							<div class="font-size-12 c-fade">
								<u class="mr-3" th:utext="${map.user.username}">寒江雪</u>
								发布于 <b th:text="${#dates.format(map.post.createTime, 'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
								<ul class="d-inline float-right">
									<li class="d-inline ml-2">赞 <i th:text="${map.likeCount}">11</i></li>
									<li class="d-inline ml-2">|</li>
									<li class="d-inline ml-2">回复 <i th:text="${map.post.commentCount}">11</i></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
				<!-- 分页 -->
				<nav class="mt-5" th:replace="index::pagination"></nav>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer"></footer>
	</div>

	<script th:src="@{/js/global.js}"></script>
</body>
</html>
