<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://img.wangao.info/flow.ico"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/data.css}" />
	<title>Flow-数据统计</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header"></header>

		<!-- 内容 -->
		<div class="main">

			<!-- 今日信息 -->
			<div class="container">
				<div class="row data-container">
					<div class="col-sm pl-0 pr-0 box">
						<div class="cell">今日注册</div>
						<div class="cell data" th:text="${todayRegisterCount}">123</div>
					</div>
					<div class="col-sm pl-0 pr-0 box">
						<div class="cell">今日发帖</div>
						<div class="cell data" th:text="${todayPostCount}">123</div>
					</div>
					<div class="col-sm pl-0 pr-0 box">
						<div class="cell">今日访客</div>
						<div class="cell data" th:text="${todayUV}">123</div>
					</div>
					<div class="col-sm pl-0 pr-0 box">
						<div class="cell">今日活跃用户</div>
						<div class="cell data" th:text="${todayDAU}">123</div>
					</div>
				</div>
			</div>

			<div class="container mt-3">
				<div class="container row data-container">
					<!-- 网站 UV -->
					<div class="box pr-0 pl-0 col">
						<h6 class="cell c-gray">网站 UV</h6>
						<div class="cell">
							<form class="form-inline mb-2" method="post" th:action="@{/data/uv}">
								<input id="uv-start" type="date" name="start" class="form-control"    th:value="${#dates.format(uvStartDate, 'yyyy-MM-dd')}" required/>
								<input id="uv-end"  type="date" name="end" class="form-control ml-3" th:value="${#dates.format(uvEndDate, 'yyyy-MM-dd')}"   required/>
								<button type="submit" id="uv-submit" class="btn btn-dark ml-3">开始统计</button>
							</form>
							<div class="mb-2">该范围累计访客：<i id="uv-total" style="color: black"></i></div>
							<div class="chart-box" id="uv-chart"></div>
						</div>
					</div>

					<!-- 活跃用户 -->
					<div class="col pr-0 pl-0 box">
						<div class="container box">
							<h6 class="cell c-gray">活跃用户</h6>
							<div class="cell">
								<form class="form-inline mb-2" method="post" th:action="@{/data/dau}">
									<input id="dau-start" type="date" name="start" class="form-control"    th:value="${#dates.format(dauStartDate, 'yyyy-MM-dd')}" required/>
									<input id="dau-end"   type="date" name="end" class="form-control ml-3" th:value="${#dates.format(dauEndDate, 'yyyy-MM-dd')}"   required/>
									<button type="submit" id="dau-submit" class="btn btn-dark ml-3">开始统计</button>
								</form>
								<div class="mb-2">该范围累计活跃用户：<i id="dau-total" style="color: black"></i></div>
								<div class="chart-box" id="dau-chart"></div>
							</div>
						</div>
					</div>
				</div>


			</div>

		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer"></footer>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/data.js}"></script>
</body>
</html>
