<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--访问该网页时在此生成csrf令牌-->
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta >
	<link rel="icon" href="https://img.wangao.info/flow.ico"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>Flow</title>
</head>
<body>	
	<div class="nk-container">
		<!-- 头部 -->
		<header class="sticky-top" th:fragment="header">
			<em id="csrf" style="display: none" th:data-token="${_csrf.token}" th:data-header="${_csrf.headerName}"></em>
			<div class="container">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg">
					<!-- logo -->
					<a class="navbar-brand" href="#" th:href="@{/}"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- 功能 -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<!-- 搜索 -->
						<form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}">
							<svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#D8D8DC" class="bi bi-search" viewBox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
							</svg>
							<input class="form-control mr-sm-2" type="search" name="keyword" aria-label="Search" th:value="${keyword}"/>
<!--							<button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>-->
						</form>
						<!-- 菜单 -->
						<ul class="navbar-nav ml-auto">
							<li class="nav-item ml-1 btn-group-vertical">
								<a class="nav-link" th:href="@{/index}">首页</a>
							</li>
							<li class="nav-item ml-1 btn-group-vertical" th:if="${loginUser!=null}">
								<a class="nav-link" th:href="@{|/user/profile/${loginUser.id}|}" th:utext="${loginUser.username}">用户名</a>
							</li>
							<li class="nav-item ml-1 btn-group-vertical" th:if="${loginUser!=null}">
								<a class="nav-link" th:href="@{/user/setting}">设置</a>
							</li>
							<li class="nav-item ml-1 btn-group-vertical" th:if="${loginUser!=null}">
								<a class="nav-link" th:href="@{/logout}">登出</a>
							</li>
							<li class="nav-item ml-1 btn-group-vertical" th:if="${loginUser==null}">
								<a class="nav-link" th:href="@{/register}">注册</a>
							</li>
							<li class="nav-item ml-1 btn-group-vertical" th:if="${loginUser==null}">
								<a class="nav-link" th:href="@{/login}">登录</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<div class="row">
					<!-- 内容 -->
					<div class="col-9">
						<div class="box">
							<div class="cell">
								<!-- 筛选条件 -->
								<a th:href="@{/index(orderMode=0)}" type="button" th:class="|btn btn-sm ${orderMode==0?'btn-dark':'btn-light'}|" class="btn btn-light btn-sm">社区首页</a>
								<a th:href="@{/index(orderMode=1)}" type="button" th:class="|btn btn-sm ${orderMode==1?'btn-dark':'btn-light'}|" class="btn btn-light btn-sm">最热</a>
								<a th:each="node:${nodes}" th:text="${node.name}" th:href="@{|/node/${node.id}|}" type="button" th:class="|btn btn-sm ${nodeId != null && node.id==nodeId?'btn-dark':'btn-light'}|" class="btn btn-light btn-sm">节点</a>
								<button type="button" class="btn btn-dark btn-sm float-right" data-toggle="modal" data-target="#publishModal">发布新主题</button>
							</div>
							<!-- 帖子列表 -->
							<div
									th:class="|cell touch post-item ${map.post.type==1?'post_corner_star':''}|"
									th:each="map:${discussPosts}"
									th:onclick="|go('/discuss/detail/${map.post.id}')|"
							>
								<a th:href="@{|/user/profile/${map.user.id}|}">
									<img th:src="${map.user.headerUrl}" src="" class="avatar" alt="用户头像" style="width:50px;height:50px;">
								</a>
								<div class="post_info">
									<div class="post_info_title">
										<a th:href="@{|/discuss/detail/${map.post.id}|}" th:utext="${map.post.title}">备战春招，面试刷题跟他复习，一个月全搞定！</a>
										<span class="badge badge-secondary bg-danger" th:if="${map.post.status==1}">精华</span>
									</div>
									<div class="font-size-12 post_info_meta">
										<span th:if="${map.likeCount > 0}" class="mr-2">
											<img th:src="@{/img/like.svg}" height="12" width="12" src="" alt="">
											<span th:text="${map.likeCount}">11</span>
										</span>
										<span class="type mr-2" th:text="${map.nodeName}" th:onclick="|go('/node/${map.post.nodeId}')|">奇思妙想</span>
										<span class="author mr-2" th:utext="${map.user.username}">寒江雪</span>
										<span class="time" th:text="${#dates.format(map.post.createTime,'MM-dd HH:mm')}">2019-04-15 15:32:18</span>
									</div>
								</div>
								<div class="reply_count" th:text="${map.post.commentCount}">123</div>
							</div>
							<!-- 分页 -->
							<div class="cell" th:if="${page.rows>0}" th:fragment="pagination">
								<ul class="pagination justify-content-center">
									<li class="page-item">
										<a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
									</li>
									<li th:class="|page-item ${page.current==1?'disabled':''}|">
										<a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a></li>
									<li th:class="|page-item ${i==page.current?'active':''}|" th:each="i:${#numbers.sequence(page.from,page.to)}">
										<a class="page-link" th:href="@{${page.path}(current=${i})}" th:text="${i}">1</a>
									</li>
									<li th:class="|page-item ${page.current==page.total?'disabled':''}|">
										<a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
									</li>
									<li class="page-item">
										<a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- 左侧 -->
					<div class="col-3" th:fragment="sidebar">
						<!-- 用户信息栏 -->
						<div class="box mb-3" th:if="${loginUser!=null}">
							<div class="cell">
								<div class="d-flex align-items-center">
									<img th:src="${loginUser.headerUrl}" src="https://img.wangao.info/flow.ico" alt="avatar" class="avatar"/>
									<a href="#" th:utext="${loginUser.username}" class="ml-2"></a>
								</div>
								<!-- 用户状态栏 -->
								<div class="d-flex mt-2">
									<a class="flex-grow-1 text-center dark b-right-fade">
										<div class="c-gray">
											123
										</div>
										<div class="c-fade">
											测试
										</div>
									</a>
									<a class="flex-grow-1 text-center dark b-right-fade">
										<div class="c-gray">
											123
										</div>
										<div class="c-fade">
											测试
										</div>
									</a>
									<a class="flex-grow-1 text-center dark">
										<div class="c-gray">
											123
										</div>
										<div class="c-fade">
											测试
										</div>
									</a>
								</div>
							</div>
							<div class="cell d-flex align-items-center">
								<svg class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M424.96 886.56896c0 48.07168 38.96832 87.04 87.04 87.04s87.04-38.96832 87.04-87.04H424.96zM486.4 51.2a20.48 20.48 0 0 0-20.48 20.48v29.312C309.51936 115.2768 187.01312 246.784 187.01312 406.90688v264.48896c0 3.29728-0.53248 6.5792-1.57696 9.71264l-38.84032 116.52096c-6.6304 19.8912 8.17664 40.43264 29.14304 40.43264h669.2864c20.9664 0 35.77344-20.54144 29.14304-40.43264l-38.84032-116.52096a30.72512 30.72512 0 0 1-1.57696-9.71264V406.90688c0-160.768-123.4944-292.68992-280.79104-306.08384V71.68a20.48 20.48 0 0 0-20.48-20.48h-46.08zM268.93312 406.90688c0-124.416 100.864-225.28 225.28-225.28h32.33792c124.42112 0 225.28 100.864 225.28 225.28v264.48896a112.64 112.64 0 0 0 5.78048 35.61984l16.37888 49.1264H246.77888l16.37376-49.1264a112.6656 112.6656 0 0 0 5.7856-35.61984V406.90688z" fill="#bbb"></path></svg>
								<a class="c-gray ml-2" th:href="@{/letter/list}"><span th:text="${allUnreadCount}">0</span> 条未读提醒</a>
							</div>
						</div>

						<!-- 社区状况 -->
						<div class="box">
							<div class="cell c-gray">
								社区状况
							</div>
							<div class="cell" id="status-box">
								<div class="label">
									<span class="status-l">注册会员</span>
									<span class="status-r" th:text="${userCount}">123</span>
								</div>
								<div class="label">
									<span class="status-l">主题</span>
									<span class="status-r" th:text="${postCount}">123</span>
								</div>
								<div class="label">
									<span class="status-l">回帖</span>
									<span class="status-r" th:text="${commentCount}">123</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-white" th:fragment="footer">
			<div class="container">
				<div class="row">
					<!-- 底部信息 -->
					<div class="col-8 font-size-12 footer-text">
						<span>Flow  一个极简的社区系统</span><br>
						<span>蜀ICP备 123456789</span><br>
						<span>♥ Do have faith in what you're doing.</span>
					</div>
					<!-- logo -->
					<div class="col-4 " style="padding-right: 0">
						<img src="https://img.wangao.info/flow_200x80_t.png" alt="logo" height="60" width="150" style="float: right">
					</div>
				</div>
			</div>
		</footer>


		<!-- 弹出框 -->
		<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="publishModalLabel">新帖发布</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="recipient-name" class="col-form-label">标题：</label>
								<input type="text" class="form-control" id="recipient-name">
							</div>
							<div class="form-group">
								<label for="message-text" class="col-form-label">正文：</label>
								<textarea class="form-control" id="message-text" rows="15"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="publishBtn">发布</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 提示框 -->
		<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="hintModalLabel">提示</h5>
					</div>
					<div class="modal-body" id="hintBody">
						发布完毕!
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{js/index.js}"></script>
</body>
</html>
